<footer>
    <div class="container">
        <h2>Footer</h2>
        <span class="social-button">
            <div class="fb-like" data-href="https://www.facebook.com/TEDxWarwick" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
        </span>
        <span class="social-button">
            <a class="twitter-follow-button" href="https://twitter.com/TEDxWarwick" data-show-screen-name="false" style="display: none;"></a>
        </span>
    </div>
</footer>
