<header>
    <div class="container">
        <img class="brand" src="{{ "/assets/img/brand/header-logo.png" | relative_url }}">
        <div class="nav">
            <div class="cta">
                {% include components/cta.html %}
            </div>
            <nav>
                <ul>
                    {% for item in site.nav %}
                        <li><a href="{{ item.page | relative_url }}" title="{{ item.name }}"{% if item.key == page.nav %} class="current"{% endif %}>{{ item.name }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</header>
