<header>
    <div class="container">
        <img class="brand" src="//placehold.it/440x88.png?text={{ "TEDxWarwick (5:1)" | cgi_escape }}">
        <div class="nav">
            <h3 class="cta">Get your tickets now <button>Buy tickets</button></h3>
            <nav>
                <ul>
                    {% for item in site.nav %}
                        <li><a href="{{ item.page | relative_url }}">{{ item.name }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</header>
