header {
    .container {
        display: flex;
        flex-direction: row;
    }

    .nav {
        flex: 1;
        display: flex;
        flex-direction: column;

        .cta {
            flex: 1;
        }
    }

    nav {
        font-family: $font-menu;

        li {
            display: inline-block;
        }

        a {
            padding: 1em 0;
        }
    }
}
