/***********************
 * Fixed-width content *
 ***********************/

header, main, footer {
    width: 100%;
    // display: flex;
    // justify-content: center;
}

.container {
    // flex: 0 0 960px;
    width: 960px;
    margin: 0 auto;
}

/*****************
 * Sticky footer *
 *****************/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    margin-top: 5em;
}
