body {
    font-family: $font-body;
    font-size: $font-size-base;
    line-height: 1.375em;
}

@mixin inner-margin($size) {
    margin-bottom: $size;

    &:last-of-type {
        margin-bottom: 0;
    }
}

p {
    @include inner-margin(1em);
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-heading;
    font-weight: 600;
    margin: 0.4em 0;
}

h1 {
    font-size: 3em;
    line-height: 1.05em;
}

h2 {
    font-size: 2.25em;
    line-height: 1.25em;
}

h3 {
    font-size: 1.75em;
    line-height: 1.25em;
}

h4 {
    font-size: 1.125em;
    line-height: 1.22222222em;
}

b, strong {
    font-weight: 700;
}

i, em {
    font-style: italic;
}

pre, code {
    font-family: $font-code;
}

pre {
    margin: 0 10%;
    width: 80%;
    max-width: 80%;
    overflow-x: scroll;
}

small {
    font-size: 0.75em;
}

a {
    color: inherit;

    &:hover {
        text-decoration: none;
        color: $color-link;
    }

    &:visited, &:active {
        color: inherit;
    }

    &.hot {
        &, &:hover, &:visited, &:active {
            color: $color-link;
        }
    }
}

// Media queries to follow
